body {
    margin: 0;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: lightgrey;
}

.story-box {
    flex: 2;
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    flex: 1;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.stats {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 1.5rem;
    color: white;
}

.stats header {
    margin: 0;
    font-weight: bold;
}

.health {
    background-color: red;
}

.mana {
    background-color: blue;
}

.CharName {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
