body {
    margin: 0;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: lightgrey;
}

.story-box {
    flex: 2;
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    flex: 1;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
